h1{
    color:var(--mainColor)
}

::placeholder{
    /* color:#6C757D; */
    color:#6C757D !important;
   font-size:1.5rem;
}
.contact{
    background-color: #2C3E50
}
.alert{
    display:none;
}
.label{
    top:100%;
    left:0;
    transition: top 1s;
    color:var(--mainBackground)
}
.inputDiv{
    overflow: hidden;
}
/* .inputDiv:hover .label{
    top:30%;
    left:0;
} */
button{
    background-color:var(--mainBackground) !important;
}
button:hover{
    background-color: #159A80 !important;
}