.navbar{
    background-color: var(--mainColor)
}
@font-face {
    font-family: Montserrat;
    src: url(../Fonts/Montserrat/Montserrat-Bold.ttf);
}
.navbarBrand{
    font-family: Montserrat;
    font-size:1.75em;
    line-height:2.625rem;
    text-decoration: none;
    /* white-space: nowrap; */
    color:#fff;
    cursor:pointer;
    /* pointer-events:none; */
}
.navbarBrand:hover{
    color:#fff !important;
}


.navbarTabs{
    font-family: Montserrat !important;
    font-size:1rem !important;
    line-height:1.5rem !important;
    margin-inline:1rem;
   
}

.navbarTabs li{
    margin-inline:0.5rem;
}

