.footerInfo{
    background-color: #2C3E50
}
.footer{
    background-color: #1A252F;
}
.singleIcon{
    cursor:pointer;
    width:2rem;
    height:2rem;
    border:solid 0.175rem white;
    padding:1.5rem;
    transition: all 0.5s;
}
.singleIcon i{
    font-size:1.25rem;
    transition: all 0.5s;
}
.singleIcon:hover{
    background-color: white;
}
.singleIcon:hover i{
   color:#1A252F
}